.article-content {
  ul, ol {
    margin-left: 2.4rem;
  }

  ul > li,
  ol > li {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}